<!-- Jumbotron Header -->
<header>
    <h1>Testing</h1>
</header>

<hr>

<div ng-controller="MainTestCtrl">

    <!-- Row -->
    <div class="row">
        <div class="col-md-4">
            <h3>Section</h3>
            <section>

                <p>{{ hello }}</p>
                <button class="btn btn-primary" ng-click="btnClick('Holla')">Click Me!</button>

            </section>
        </div>
        <div class="col-md-4">
            <h3>Section</h3>
            <section>

                <p>{{ hello }}</p>

            </section>
        </div>
        <div class="col-md-4">
            <h3>Section</h3>
            <section>

                <p>{{ hello }}</p>

            </section>
        </div>
    </div>
    <!-- /.Row -->
    
    <br>
    
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <h3>Drag & Drop Testing</h3>
            <section>
            
                <div ng-class="visibility">
                    <ul ng-sortable="sortableConfig" class="ul-sortable">
                        <li ng-repeat="team in pac12Teams" class="li-sortable">
                            <img src="teams/{{ team }}.png" alt="{{ team }}" class="img-thumbnail" height="100" width="100">
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div ng-class="visibility">
                    <ul ng-sortable="sortableConfig" class="ul-sortable">
                        <li ng-repeat="team in otherTeams" class="li-sortable">
                            <img src="teams/{{ team }}.png" alt="{{ team }}" class="img-thumbnail" height="100" width="100">
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div ng-class="visibility">
                    <ul ng-sortable="sortableConfig2" class="ul-sortable">
                        <li ng-repeat="team in otherTeams2" class="li-sortable">
                            <img src="teams/{{ team }}.png" alt="{{ team }}" class="img-thumbnail" height="100" width="100">
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                
            </section>
        </div>
    </div>
    <!-- /.Row -->

</div>